/* .table-sources {
    border-collapse: collapse;
    border: 1px;
  }
  table, th, td {
    border: 1px solid;
  }
  */
  .page-link {
    width: 50px;
    height: 50px;
  }
  .page-link2 {
    width: 100px;
    height: 50px;
  }
  .page-item-active {
    background-color: #32be3f;
  } 


  .table-sources {
    width: 100%;
    border-collapse: collapse;
  }
  .table-sources table {
    table-layout: fixed;
    height: 50%;
  }
  
  .table-sources th,
  .table-sources td {
    padding: 12px;
    border: 1px solid #ccc;
  }

  .table-sources th, 
  .table-sources td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;

    height: 7%;
    width: 33%;
    max-width: 200px;
    max-height: 150px;
    /*min-width: 33vh;
    /*min-height: 5vh;
    height: 5vh;
    width: 33vh;
  
    /*max-width: 200px; /* Set your desired maximum width here */
    /*max-height: 150px; /* Set your desired maximum height here */
    overflow: hidden; /* Hide any overflow text */
    /*white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
  
  .table-sources th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .table-sources tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-sources td:last-child {
    text-align: center;
  }
  
  .table-sources a {
    color: #007bff;
    text-decoration: none;
  }
  
  .table-sources a:hover {
    color: #0056b3;
  }


  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-style {

    background-color: #dedede;
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button-inactive {
    background-color: #dedede;
  }
  .button-active {
    background-color: #007bff;
  }

  .search-container {
    text-align: center;
    padding: 10px;
  }
  
  .search-container input[type=search] {
    width: 30%; /* Set your desired width here */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }